// * Trending

.trending {
  padding: 0 24px;
}

.trending__title {
  margin-bottom: 24px;
}

.trending__slider {
  overflow-x: scroll;
  display: flex;
  gap: 24px;
}

.moviecard {
  position: relative;
}

// * Moviecard

.moviecard__img {
  width: 240px;
  border-radius: 8px;
}

.moviecard__details-container {
  position: absolute;
  left: 12px;
  bottom: 20px;
}

.moviecard__details {
  display: flex;
  column-gap: 4px;
}

.moviecard__year {
  font-size: 1.2rem;
  color: darken($color: $background, $amount: 15);
}

.moviecard__rated {
  font-size: 1.2rem;
  color: darken($color: $background, $amount: 15);
}

.moviecard__movie-name {
  color: $main;
  font-size: 1.6rem;
}