// * Trending

.trending {
  min-height: 120px;
  margin-bottom: 32px;
  padding: 0 24px;
}

.trending__title {
  margin-bottom: 24px;
}

.trending__slider {
  overflow-x: scroll;
  display: flex;
  gap: 24px;
  padding: 2px;
}

.moviecard {
  cursor: pointer;
  position: relative;
  margin-bottom: 24px;
}
// * Moviecard

.moviecard__img {
  width: 240px;
  border-radius: 6px;
}

.moviecard__img:hover {
  border-radius: 8px;
  outline: solid;
  outline-color: lighten($color: $primary, $amount: 15);
  filter: contrast(120%);
}

.moviecard__details-container {
  position: absolute;
  left: 12px;
  bottom: 20px;
}

.moviecard__details {
  display: flex;
  column-gap: 4px;
}

.moviecard__year {
  font-size: 1.2rem;
  color: darken($color: $white, $amount: 15);
}

.moviecard__rated {
  font-size: 1.2rem;
  color: darken($color: $white, $amount: 15);
}

.moviecard__movie-name {
  color: $white;
  font-size: 1.6rem;
}

// * Recommended

.recommended {
  margin-bottom: 32px;
  padding: 0 24px;
}

.recommended__title {
  margin-bottom: 24px;
}

.recommended__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 12px;
}

.recommended__list .moviecard {
  margin-bottom: 12px;
}

.recommended__list .moviecard__img {
  width: 100%;
}

.recommended__list .moviecard__details-container {
  position: static;
  margin-top: 8px;
}

// * Categories

.category {
  margin-bottom: 32px;
  padding: 0 24px;
}

.category__title {
  margin-bottom: 24px;
}

.category__color {
  width: 20px;
  height: 20px;
  border-radius: 4px;
}

.category__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 12px;
}

.category__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 8px;
}


#category28 {
  background-color: #47429D;
}

#category12 {
  background-color: #cdb4db;
}

#category16 {
  background-color: #fb5607;
}

#category80 {
  background-color: #ffc8dd;
}

#category99 {
  background-color: #ffafcc;
}

#category18 {
  background-color: #bde0fe;
}

#category10751 {
  background-color: #a2d2ff;
}

#category14 {
  background-color: #264653;
}

#category35 {
  background-color: #ff006e;
}

#category36 {
  background-color: #2a9d8f;
}

#category27 {
  background-color: #e9c46a;
}

#category10402 {
  background-color: #f4a261;
}

#category9648 {
  background-color: #e76f51;
}

#category10749 {
  background-color: #606c38;
}

#category878 {
  background-color: #283618;
}

#category10770 {
  background-color: #8338ec;
}

#category53 {
  background-color: #3a86ff;
}

#category10752 {
  background-color: #bc6c25;
}

#category37 {
  background-color: #ffbe0b;
}

// * Series

.series {
  margin-bottom: 32px;
  padding: 0 24px;
}

.series__title {
  margin-bottom: 24px;
}

.series__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 12px;
}

.series__container .moviecard__img {
  width: 100%;
}

.series__container .moviecard__details-container {
  position: static;
}

.series__container .moviecard__movie-name {
  color: $white;
}

// * Movie details

.moviedetails {
  display: grid;
  place-items: center;
  margin-bottom: 24px;
  padding: 0 24px;
}

.moviedetails__img-container {
  margin-bottom: 24px;
}

.moviedetails__img-container img {
  border-radius: 8px;
}

.moviedetails__text-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.moviedetails__title {
  margin-bottom: 12px;
  font-size: 1.6rem;
  color: $white;
}

.moviedetails__rated {
  font-size: 1.6rem;
}

.moviedetails__overview {
  margin-bottom: 12px;
  font-size: 1.2rem;
}

.moviedetails__genres {
  margin-bottom: 12px;
  font-size: 1.4rem;
  color: $white;
}

.moviedetails__similar-title {
  font-size: 1.4rem;
  margin-bottom: 12px;
}

.moviedetails__similar-movies-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 24px;
}

// * Category movie

.categorymovie {
  margin-bottom: 32px;
  padding: 0 24px;
}

.categorymovie .category__item {
  cursor: default;
  margin-bottom: 24px;
}

.categorymovie .category__name {
  font-size: 1.6rem;
}

// * searchpage

.searchpage {
  margin-bottom: 32px;
  padding: 0 24px;
}

.searchpage__title {
  margin-bottom: 24px;
}