// * Trending

.trending {
  margin-bottom: 32px;
  padding: 0 24px;
}

.trending__title {
  margin-bottom: 24px;
}

.trending__slider {
  overflow-x: scroll;
  display: flex;
  gap: 24px;
}

.moviecard {
  position: relative;
}

// * Moviecard

.moviecard__img {
  width: 240px;
  border-radius: 8px;
}

.moviecard__details-container {
  position: absolute;
  left: 12px;
  bottom: 20px;
}

.moviecard__details {
  display: flex;
  column-gap: 4px;
}

.moviecard__year {
  font-size: 1.2rem;
  color: darken($color: $background, $amount: 15);
}

.moviecard__rated {
  font-size: 1.2rem;
  color: darken($color: $background, $amount: 15);
}

.moviecard__movie-name {
  color: $main;
  font-size: 1.6rem;
}

// * Recommended

.recommended {
  padding: 0 24px;
}

.recommended__title {
  margin-bottom: 24px;
}

.recommended__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 12px;
}

.recommended__list .moviecard {
  margin-bottom: 12px;
}

.recommended__list .moviecard__img {
  width: 100%;
}

.recommended__list .moviecard__details-container {
  position: static;
}

.recommended__list .moviecard__movie-name {
  color: $head-line;
}

.recommended__list .moviecard__year,
.recommended__list .moviecard__rated {
  color: $paragraph;
}