@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

$body-font: 'Roboto', sans-serif;
$background: #eff0f3;
$head-line: #0d0d0d;
$paragraph: #2a2a2a;
$button: #ff8e3c;
$main: #eff0f3;
$highlight: #ff8e3c;
$secondary: #fffffe;
$tertiary: #d9376e;


$category-1: #47429D;
$category-2: #9A69E1;
$category-3: #FFC23C;
$category-4: #F6C6EA;
$category-5: #FAF4B7;
$category-6: #CDF0EA;