@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

$body-font: 'Roboto', sans-serif;
$background: #eff0f3;
$head-line: #0d0d0d;
$paragraph: #2a2a2a;
$button: #ff8e3c;
$main: #eff0f3;
$highlight: #ff8e3c;
$secondary: #fffffe;
$tertiary: #d9376e;