@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');

$body-font: 'Roboto', sans-serif;

$background-body: radial-gradient(circle, #1e2c7f, #102c71, #0b2b61, #0d2851, #132541);
$primary: #1E2C7F;
$secondary: #132541;
$white: #F2F4F3;

$button: #1E2C7F;